* { box-sizing: border-box; }

html{
  height: 100%;
}

body {
  background-color: $background-primary;
	min-width: 320px;
	height: 100%;
  overflow-x: hidden;
  transition: transform .5s ease-out;

  @media (min-width: $grid-breakpoint){
    padding-left: 0;
    padding-right: 0;
  }

  &.open-menu{
    @media (max-width: $grid-breakpoint - 1){
      transform: translateX($nav-responsive-width);
    }
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .2s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .2s ease;
}
.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

@keyframes fadeinmove {
  from { opacity: 0; transform: translateX(+20%);  }
  to   { opacity: 1; transform: translateX(0%); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.text-negative {
  color: $text-negative;
}

.wrapper{
  position: relative;
  padding-left: 0;
  top: $header-height-breakpoint;
  height: calc(100% - #{$header-height-breakpoint});
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  @media (min-width: $grid-breakpoint){
    height: auto;
    top: initial;
  }
}

::selection { 
  background: $primary;
  color: white;
}

.fa{
  text-decoration: none;
  display: inline-block;
  &:hover,
  &.active,
  &:focus{
    outline: 0;
    text-decoration: none;
  }
}

img{
  max-width: 100%;
  height: auto;
}

.blogs__top {
  margin-top: 8rem!important;
  margin-bottom: 3rem;

  h2 {
    margin: 0;
    padding: 0;
  }
}

.shape{
  width: 100%;
  max-height: 100%;
}
.disabled {
  cursor: not-allowed;
}

li, ul {
  list-style-type: none;
}

section {
  margin-bottom: 2.4rem;

  ul {
    padding: 0;
  }
  
  @media (min-width: $screen-sm){
    margin-bottom: 7.2rem;
  }
}

button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0;
  height: 3.6rem;
  background-color: $primary;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background-color: #574bc1;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.99);
}

.primary {
  color: $primary;
}

.text-input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 4px;
  }

  &__field {
    transition: border .1s ease;
    border: 1px solid $n1;
    background-color: white;
    padding: 0 8px;
    height: 36px;
    font-size: 16px;

    &:active,
    &:hover {
      outline: none;
      border: 1px solid $primary;
    }

    &:focus {
      outline-offset: 0;
      border: 1px solid $primary;
    }

    &:disabled {
      background-color: grey;
      pointer-events: none;
    }
  }
}




.overflowhidden {
  overflow: hidden;
}
.blogSelected-horizontalImage {
  height: 56rem;
  background-size: contain;
  transition: all ease .35s;
  opacity: 0;

  &[lazy='loading'] {
    filter: blur(15px);
    background-repeat: no-repeat!important;
    background-size: contain!important;
  }
  &[lazy='loaded'] {
    opacity: 1;
    background-repeat: no-repeat!important;
    background-size: contain!important;
  }
  .intro {
    display: flex;
  }
}
.elevate-cover {
  display: flex;
  flex-direction: column;
  min-height: 459px;

  @media (min-width: $screen-md){
    flex-direction: row;
  }

  &__img {
    // clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    // clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 32% 100%, 0 0);
    -webkit-clip-path: circle(100% at 90% 0%);
    clip-path: circle(100% at 90% 0%);
  }

  &__img, &__textOffset {
    width: 100%;
  }

  &__left {
    max-width: 500px;
    width: 100%;
    padding: 2.4rem;
    padding-left: 10rem!important;
    padding-right: 0!important;
    margin-bottom: auto;


    @media (min-width: $screen-md){
      margin-left: auto;
      padding: 2.4rem 4rem 2.4rem 2.4rem;
    }
  }

  &__textOffset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 3rem;
    font-family: 'Tiempos Headline', Arial, sans-serif;
    color: $secondary;
    line-height: 50px;

    @media (min-width: $screen-sm){
      font-size: 4rem;
    }
  }

  &__description {
    // margin: 0;
    // opacity: 0;
    // animation: fadeinmove .5s ease;
    // animation-delay: .5s;
    // animation-fill-mode: forwards;
  }
}
.dynamicMarkdown {
  padding: 3.2rem 0;
  font-size: 16px;
  line-height: 1.7;
  color: $secondary;

  > *:not(.datagrid):not(.image-placeholder) {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  @media (min-width: $screen-sm){
    padding: 7.2rem 0;
    font-size: 19px;
  }

  h2 {
    padding-bottom: 3.2rem;
    padding-bottom: 2rem;

    @media (max-width: $screen-sm){
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 2.2rem;
    padding-bottom: 2rem;
  }

  li {
    list-style-type: initial;
  }

  pre {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    padding: 2.4rem;
    border-radius: 4px;
    background-color: #f6f8fa;
    overflow-x: scroll;
    display: block;
    margin-bottom: 5rem;

    code {
      background-color: #f6f8fa;
    }
  }

  code {
    background: #f3f4f4;
    border-radius: 4px;
    display: inline;
    color: $secondary;
    font-size: 14px;
    padding: .2em .4em;

    @media (min-width: $screen-sm){
      font-size: 16px;
    }
  }
}